<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>Profile Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
</head>

<body>
    <div class="container">
        <div id="content" class="content p-0">
            <div class="profile-header">
                <div class="profile-header-cover"></div>
                <div class="profile-header-content">
                    <div class="profile-header-img mb-4">
                        <img src="https://bootdey.com/img/Content/avatar/avatar8.png" class="mb-4" alt="" />
                    </div>

                    <div class="profile-header-info">
                        <h4 class="m-t-sm">{{Name}}</h4>
                        <p class="m-b-sm">{{designation}}</p>
                        <a href="{% url 'editPage' %}" class="btn btn-sm btn-info mb-2">Edit Profile</a>
                    </div>
                </div>
                <ul class="profile-header-tab nav nav-tabs">
                    <li class="nav-item"><a href="#profile-post" class="nav-link active show"
                            data-toggle="tab">POSTS</a></li>
                    <li class="nav-item"><a href="{% url 'About_me_page' %}" class="nav-link">PROFILE</a></li>
                    <!--                     <li class="nav-item"><a href="#profile-photos" class="nav-link" data-toggle="tab">PHOTOS</a></li>-->
                    <!--                     <li class="nav-item"><a href="#profile-videos" class="nav-link" data-toggle="tab">VIDEOS</a></li>-->
                    <li class="nav-item"><a href="{% url 'connections_page' %}">CONNECTIONS</a></li>
                    <li class="nav-item"><a href="{% url 'job_post' %}">JOBS</a></li>
                    <li class="nav-item"><a href="{% url 'courses' %}" class="nav-link">CERTIFICATION</a>
                    </li>
                </ul>
            </div>
            <br>
            <div class="container">
                <div class="row">
                    <div class="card w-50">
                        <div class="card card-margin">
                            <div class="card-header no-border">
                                <h6 class="card-title">Posts</h6>
                            </div>
                            <div class="card-body pt-0">
                                <div class="profile-content">
                                    <!-- begin tab-content -->
                                    <div class="tab-content p-0">
                                        <!-- begin #profile-post tab -->
                                        <div class="tab-pane fade active show" id="profile-post">
                                            <!-- begin timeline -->
                                            <ul class="timeline">
                                                <li>
                                                    <!-- begin timeline-time -->
                                                    <div class="timeline-time">
                                                        <span class="date">today</span>
                                                        <span class="time">04:20</span>
                                                    </div>
                                                    <!-- end timeline-time -->
                                                    <!-- begin timeline-icon -->
                                                    <div class="timeline-icon">
                                                        <a href="javascript:;">&nbsp;</a>
                                                    </div>
                                                    <!-- end timeline-icon -->
                                                    <!-- begin timeline-body -->
                                                    <div class="timeline-body">
                                                        <div class="timeline-header">
                                                            <span class="userimage"><img
                                                                    src="https://bootdey.com/img/Content/avatar/avatar8.png"
                                                                    alt=""></span>
                                                            <span class="username"><a href="javascript:;">Sean Ngu</a>
                                                                <small></small></span>
                                                            <span class="pull-right text-muted">18 Views</span>
                                                        </div>
                                                        <div class="timeline-content">
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                                                Nunc faucibus turpis quis tincidunt luctus.
                                                                Nam sagittis dui in nunc consequat, in imperdiet nunc
                                                                sagittis.
                                                            </p>
                                                        </div>
                                                        <div class="timeline-likes">
                                                            <div class="stats-right">
                                                                <span class="stats-text">259 Shares</span>
                                                                <span class="stats-text">21 Comments</span>
                                                            </div>
                                                            <div class="stats">
                                                                <span class="fa-stack fa-fw stats-icon">
                                                                    <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                                                    <i
                                                                        class="fa fa-heart fa-stack-1x fa-inverse t-plus-1"></i>
                                                                </span>
                                                                <span class="fa-stack fa-fw stats-icon">
                                                                    <i
                                                                        class="fa fa-circle fa-stack-2x text-primary"></i>
                                                                    <i
                                                                        class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                                                                </span>
                                                                <span class="stats-total">4.3k</span>
                                                            </div>
                                                        </div>
                                                        <div class="timeline-footer">
                                                            <a href="javascript:;"
                                                                class="m-r-15 text-inverse-lighter"><i
                                                                    class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i>
                                                                Like</a>
                                                            <a href="javascript:;"
                                                                class="m-r-15 text-inverse-lighter"><i
                                                                    class="fa fa-comments fa-fw fa-lg m-r-3"></i>
                                                                Comment</a>
                                                            <a href="javascript:;"
                                                                class="m-r-15 text-inverse-lighter"><i
                                                                    class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
                                                        </div>
                                                        <div class="timeline-comment-box">
                                                            <div class="user"><img
                                                                    src="https://bootdey.com/img/Content/avatar/avatar8.png">
                                                            </div>
                                                            <div class="input">
                                                                <form action="">
                                                                    <div class="input-group">
                                                                        <input type="text"
                                                                            class="form-control rounded-corner"
                                                                            placeholder="Write a comment...">
                                                                        <span class="input-group-btn p-l-10">
                                                                            <button
                                                                                class="btn btn-primary f-s-12 rounded-corner"
                                                                                type="button">Comment</button>
                                                                        </span>
                                                                    </div>
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- end timeline-body -->
                                                </li>
                                                <li>
                                                    <!-- begin timeline-time -->
                                                    <div class="timeline-time">
                                                        <span class="date">yesterday</span>
                                                        <span class="time">20:17</span>
                                                    </div>
                                                    <!-- end timeline-time -->
                                                    <!-- begin timeline-icon -->
                                                    <div class="timeline-icon">
                                                        <a href="javascript:;">&nbsp;</a>
                                                    </div>
                                                    <!-- end timeline-icon -->
                                                    <!-- begin timeline-body -->
                                                    <div class="timeline-body">
                                                        <div class="timeline-header">
                                                            <span class="userimage"><img
                                                                    src="https://bootdey.com/img/Content/avatar/avatar8.png"
                                                                    alt=""></span>
                                                            <span class="username">Sean Ngu</span>
                                                            <span class="pull-right text-muted">82 Views</span>
                                                        </div>
                                                        <div class="timeline-content">
                                                            <p>Location: United States</p>
                                                        </div>
                                                        <div class="timeline-footer">
                                                            <a href="javascript:;"
                                                                class="m-r-15 text-inverse-lighter"><i
                                                                    class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i>
                                                                Like</a>
                                                            <a href="javascript:;"
                                                                class="m-r-15 text-inverse-lighter"><i
                                                                    class="fa fa-comments fa-fw fa-lg m-r-3"></i>
                                                                Comment</a>
                                                            <a href="javascript:;"
                                                                class="m-r-15 text-inverse-lighter"><i
                                                                    class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
                                                        </div>
                                                    </div>
                                                    <!-- end timeline-body -->
                                                </li>
                                                <li>
                                                    <!-- begin timeline-time -->
                                                    <div class="timeline-time">
                                                        <span class="date">24 February 2014</span>
                                                        <span class="time">08:17</span>
                                                    </div>
                                                    <!-- end timeline-time -->
                                                    <!-- begin timeline-icon -->
                                                    <div class="timeline-icon">
                                                        <a href="javascript:;">&nbsp;</a>
                                                    </div>
                                                    <!-- end timeline-icon -->
                                                    <!-- begin timeline-body -->
                                                    <div class="timeline-body">
                                                        <div class="timeline-header">
                                                            <span class="userimage"><img
                                                                    src="https://bootdey.com/img/Content/avatar/avatar3.png"
                                                                    alt=""></span>
                                                            <span class="username">Sean Ngu</span>
                                                            <span class="pull-right text-muted">1,282 Views</span>
                                                        </div>
                                                        <div class="timeline-content">
                                                            <p class="lead">
                                                                <i class="fa fa-quote-left fa-fw pull-left"></i>
                                                                Quisque sed varius nisl. Nulla facilisi. Phasellus
                                                                consequat sapien sit amet nibh molestie placerat. Donec
                                                                nulla quam, ullamcorper ut velit vitae, lobortis
                                                                condimentum magna. Suspendisse mollis in sem vel mollis.
                                                                <i class="fa fa-quote-right fa-fw pull-right"></i>
                                                            </p>
                                                        </div>
                                                        <div class="timeline-footer">
                                                            <a href="javascript:;"
                                                                class="m-r-15 text-inverse-lighter"><i
                                                                    class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i>
                                                                Like</a>
                                                            <a href="javascript:;"
                                                                class="m-r-15 text-inverse-lighter"><i
                                                                    class="fa fa-comments fa-fw fa-lg m-r-3"></i>
                                                                Comment</a>
                                                            <a href="javascript:;"
                                                                class="m-r-15 text-inverse-lighter"><i
                                                                    class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
                                                        </div>
                                                    </div>
                                                    <!-- end timeline-body -->
                                                </li>
                                                <li>
                                                    <!-- begin timeline-time -->
                                                    <div class="timeline-time">
                                                        <span class="date">10 January 2014</span>
                                                        <span class="time">20:43</span>
                                                    </div>
                                                    <!-- end timeline-time -->
                                                    <!-- begin timeline-icon -->
                                                    <div class="timeline-icon">
                                                        <a href="javascript:;">&nbsp;</a>
                                                    </div>
                                                    <!-- end timeline-icon -->
                                                    <!-- begin timeline-body -->
                                                    <div class="timeline-body">
                                                        <div class="timeline-header">
                                                            <span class="userimage"><img
                                                                    src="https://bootdey.com/img/Content/avatar/avatar3.png"
                                                                    alt=""></span>
                                                            <span class="username">Sean Ngu</span>
                                                            <span class="pull-right text-muted">1,021,282 Views</span>
                                                        </div>
                                                        <div class="timeline-content">
                                                            <h4 class="template-title">
                                                                <i class="fa fa-map-marker text-danger fa-fw"></i>
                                                                795 Folsom Ave, Suite 600 San Francisco, CA 94107
                                                            </h4>
                                                            <p>In hac habitasse platea dictumst. Pellentesque bibendum
                                                                id sem nec faucibus. Maecenas molestie, augue vel
                                                                accumsan rutrum, massa mi rutrum odio, id luctus mauris
                                                                nibh ut leo.</p>
                                                            <p class="m-t-20">
                                                                <img src="../assets/img/gallery/gallery-5.jpg" alt="">
                                                            </p>
                                                        </div>
                                                        <div class="timeline-footer">
                                                            <a href="javascript:;"
                                                                class="m-r-15 text-inverse-lighter"><i
                                                                    class="fa fa-thumbs-up fa-fw fa-lg m-r-3"></i>
                                                                Like</a>
                                                            <a href="javascript:;"
                                                                class="m-r-15 text-inverse-lighter"><i
                                                                    class="fa fa-comments fa-fw fa-lg m-r-3"></i>
                                                                Comment</a>
                                                            <a href="javascript:;"
                                                                class="m-r-15 text-inverse-lighter"><i
                                                                    class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
                                                        </div>
                                                    </div>
                                                    <!-- end timeline-body -->
                                                </li>
                                                <li>
                                                    <!-- begin timeline-icon -->
                                                    <div class="timeline-icon">
                                                        <a href="javascript:;">&nbsp;</a>
                                                    </div>
                                                    <!-- end timeline-icon -->
                                                    <!-- begin timeline-body -->
                                                    <div class="timeline-body">
                                                        Loading...
                                                    </div>
                                                    <!-- begin timeline-body -->
                                                </li>
                                            </ul>
                                            <!-- end timeline -->
                                        </div>
                                        <!-- end #profile-post tab -->
                                    </div>
                                    <!-- end tab-content -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card w-50">
                        <div class="card card-margin">
                            <div class="card-header no-border">
                                <h6 class="card-title">Recommended Leaders</h6>
                            </div>
                            <div class="card-body pt-0">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <div class="people-nearby">
                                                {% for i,j in data.items %}
                                                <form method="post" action="{% url 'homepage' %}">
                                                    <div class="nearby-user">
                                                        <div class="row">
                                                            <div class="col-md-2 col-sm-2">
                                                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                                                                    alt="user" class="profile-photo-lg">
                                                            </div>
                                                            <div class="col-md-7 col-sm-7">
                                                                <h5><a href="#"
                                                                        class="profile-link">{{j.attributes.name}}</a>
                                                                </h5>
                                                                <p>{{j.attributes.designation}}</p>
                                                                <!-- <p class="text-muted">500m away</p> -->
                                                            </div>
                                                            <div class="col-md-3 col-sm-2">
                                                                {% csrf_token %}
                                                                <input type="hidden" name="leaderid"
                                                                    value="{{ j.v_id }}" />
                                                                <input type="hidden" name="score"
                                                                    value="{{ j.attributes.score }}" />
                                                                <input type="hidden" name="name"
                                                                    value="{{ j.attributes.name }}" />
                                                                <button button type="submit" name="submit"
                                                                    class="btn btn-primary pull-right">Connect</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </form>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!--    <div class="col-lg-4">-->
                <!--        <div class="card card-margin">-->
                <!--            <div class="card-header no-border">-->
                <!--                <h5 class="card-title">MOM</h5>-->
                <!--            </div>-->
                <!--            <div class="card-body pt-0">-->
                <!--                <div class="widget-49">-->
                <!--                    <div class="widget-49-title-wrapper">-->
                <!--                        <div class="widget-49-date-success">-->
                <!--                            <span class="widget-49-date-day">22</span>-->
                <!--                            <span class="widget-49-date-month">apr</span>-->
                <!--                        </div>-->
                <!--                        <div class="widget-49-meeting-info">-->
                <!--                            <span class="widget-49-pro-title">PRO-027865 Opera module</span>-->
                <!--                            <span class="widget-49-meeting-time">12:00 to 13.30 Hrs</span>-->
                <!--                        </div>-->
                <!--                    </div>-->
                <!--                    <ol class="widget-49-meeting-points">-->
                <!--                        <li class="widget-49-meeting-item"><span>Scope is revised and updated</span></li>-->
                <!--                        <li class="widget-49-meeting-item"><span>Time-line has been changed</span></li>-->
                <!--                        <li class="widget-49-meeting-item"><span>Received approval to start wire-frame</span></li>-->
                <!--                    </ol>-->
                <!--                    <div class="widget-49-meeting-action">-->
                <!--                        <a href="#" class="btn btn-sm btn-flash-border-success">View All</a>-->
                <!--                    </div>-->
                <!--                </div>-->
                <!--            </div>-->
                <!--        </div>-->
                <!--    </div>-->
            </div>
        </div>



        <!--    <div class="profile-container">-->
        <!--        <div class="row row-space-20">-->
        <!--&lt;!&ndash;            <div class="col-md-8">&ndash;&gt;-->
        <!--&lt;!&ndash;                <div class="tab-content p-0">&ndash;&gt;-->

        <!--&lt;!&ndash;                    <div class="tab-pane fade active show" id="profile-friends">&ndash;&gt;-->
        <!--&lt;!&ndash;                        <div class="m-b-10"><b>Friend List (9)</b></div>&ndash;&gt;-->

        <!--&lt;!&ndash;                        <ul class="friend-list clearfix">&ndash;&gt;-->
        <!--&lt;!&ndash;                            <li>&ndash;&gt;-->
        <!--&lt;!&ndash;                                <a href="#">&ndash;&gt;-->
        <!--&lt;!&ndash;                                    <div class="friend-img"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" /></div>&ndash;&gt;-->
        <!--&lt;!&ndash;                                    <div class="friend-info">&ndash;&gt;-->
        <!--&lt;!&ndash;                                        <h4>Sancho Aldo</h4>&ndash;&gt;-->
        <!--&lt;!&ndash;                                        <p>392 friends</p>&ndash;&gt;-->
        <!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
        <!--&lt;!&ndash;                                </a>&ndash;&gt;-->
        <!--&lt;!&ndash;                            </li>&ndash;&gt;-->
        <!--&lt;!&ndash;                            <li>&ndash;&gt;-->
        <!--&lt;!&ndash;                                <a href="#">&ndash;&gt;-->
        <!--&lt;!&ndash;                                    <div class="friend-img"><img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" /></div>&ndash;&gt;-->
        <!--&lt;!&ndash;                                    <div class="friend-info">&ndash;&gt;-->
        <!--&lt;!&ndash;                                        <h4>Jonty Augusto</h4>&ndash;&gt;-->
        <!--&lt;!&ndash;                                        <p>128 friends</p>&ndash;&gt;-->
        <!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
        <!--&lt;!&ndash;                                </a>&ndash;&gt;-->
        <!--&lt;!&ndash;                            </li>&ndash;&gt;-->
        <!--&lt;!&ndash;                            <li>&ndash;&gt;-->
        <!--&lt;!&ndash;                                <a href="#">&ndash;&gt;-->
        <!--&lt;!&ndash;                                    <div class="friend-img"><img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" /></div>&ndash;&gt;-->
        <!--&lt;!&ndash;                                    <div class="friend-info">&ndash;&gt;-->
        <!--&lt;!&ndash;                                        <h4>Androkles Allen</h4>&ndash;&gt;-->
        <!--&lt;!&ndash;                                        <p>12 friends</p>&ndash;&gt;-->
        <!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
        <!--&lt;!&ndash;                                </a>&ndash;&gt;-->
        <!--&lt;!&ndash;                            </li>&ndash;&gt;-->
        <!--&lt;!&ndash;                            <li>&ndash;&gt;-->
        <!--&lt;!&ndash;                                <a href="#">&ndash;&gt;-->
        <!--&lt;!&ndash;                                    <div class="friend-img"><img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="" /></div>&ndash;&gt;-->
        <!--&lt;!&ndash;                                    <div class="friend-info">&ndash;&gt;-->
        <!--&lt;!&ndash;                                        <h4>Ithamar Silvio</h4>&ndash;&gt;-->
        <!--&lt;!&ndash;                                        <p>1,923 friends</p>&ndash;&gt;-->
        <!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
        <!--&lt;!&ndash;                                </a>&ndash;&gt;-->
        <!--&lt;!&ndash;                            </li>&ndash;&gt;-->
        <!--&lt;!&ndash;                            <li>&ndash;&gt;-->
        <!--&lt;!&ndash;                                <a href="#">&ndash;&gt;-->
        <!--&lt;!&ndash;                                    <div class="friend-img"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" /></div>&ndash;&gt;-->
        <!--&lt;!&ndash;                                    <div class="friend-info">&ndash;&gt;-->
        <!--&lt;!&ndash;                                        <h4>Denzel Annas</h4>&ndash;&gt;-->
        <!--&lt;!&ndash;                                        <p>893 friends</p>&ndash;&gt;-->
        <!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
        <!--&lt;!&ndash;                                </a>&ndash;&gt;-->
        <!--&lt;!&ndash;                            </li>&ndash;&gt;-->
        <!--&lt;!&ndash;                            <li>&ndash;&gt;-->
        <!--&lt;!&ndash;                                <a href="#">&ndash;&gt;-->
        <!--&lt;!&ndash;                                    <div class="friend-img"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" /></div>&ndash;&gt;-->
        <!--&lt;!&ndash;                                    <div class="friend-info">&ndash;&gt;-->
        <!--&lt;!&ndash;                                        <h4>Kamil Cree</h4>&ndash;&gt;-->
        <!--&lt;!&ndash;                                        <p>983 friends</p>&ndash;&gt;-->
        <!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
        <!--&lt;!&ndash;                                </a>&ndash;&gt;-->
        <!--&lt;!&ndash;                            </li>&ndash;&gt;-->
        <!--&lt;!&ndash;                            <li>&ndash;&gt;-->
        <!--&lt;!&ndash;                                <a href="#">&ndash;&gt;-->
        <!--&lt;!&ndash;                                    <div class="friend-img"><img src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="" /></div>&ndash;&gt;-->
        <!--&lt;!&ndash;                                    <div class="friend-info">&ndash;&gt;-->
        <!--&lt;!&ndash;                                        <h4>Fritjof Inderjit</h4>&ndash;&gt;-->
        <!--&lt;!&ndash;                                        <p>3,321 friends</p>&ndash;&gt;-->
        <!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
        <!--&lt;!&ndash;                                </a>&ndash;&gt;-->
        <!--&lt;!&ndash;                            </li>&ndash;&gt;-->
        <!--&lt;!&ndash;                            <li>&ndash;&gt;-->
        <!--&lt;!&ndash;                                <a href="#">&ndash;&gt;-->
        <!--&lt;!&ndash;                                    <div class="friend-img"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" /></div>&ndash;&gt;-->
        <!--&lt;!&ndash;                                    <div class="friend-info">&ndash;&gt;-->
        <!--&lt;!&ndash;                                        <h4>Sushil Trygve</h4>&ndash;&gt;-->
        <!--&lt;!&ndash;                                        <p>921 friends</p>&ndash;&gt;-->
        <!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
        <!--&lt;!&ndash;                                </a>&ndash;&gt;-->
        <!--&lt;!&ndash;                            </li>&ndash;&gt;-->
        <!--&lt;!&ndash;                            <li>&ndash;&gt;-->
        <!--&lt;!&ndash;                                <a href="#">&ndash;&gt;-->
        <!--&lt;!&ndash;                                    <div class="friend-img"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" /></div>&ndash;&gt;-->
        <!--&lt;!&ndash;                                    <div class="friend-info">&ndash;&gt;-->
        <!--&lt;!&ndash;                                        <h4>Frans Gebhard</h4>&ndash;&gt;-->
        <!--&lt;!&ndash;                                        <p>944 friends</p>&ndash;&gt;-->
        <!--&lt;!&ndash;                                    </div>&ndash;&gt;-->
        <!--&lt;!&ndash;                                </a>&ndash;&gt;-->
        <!--&lt;!&ndash;                            </li>&ndash;&gt;-->
        <!--&lt;!&ndash;                        </ul>&ndash;&gt;-->
        <!--&lt;!&ndash;                    </div>&ndash;&gt;-->
        <!--&lt;!&ndash;                </div>&ndash;&gt;-->
        <!--&lt;!&ndash;            </div>&ndash;&gt;-->

        <!--&lt;!&ndash;            <div class="col-md-4 hidden-xs hidden-sm">&ndash;&gt;-->
        <!--&lt;!&ndash;                <ul class="profile-info-list">&ndash;&gt;-->
        <!--&lt;!&ndash;                    <li class="title">PERSONAL INFORMATION</li>&ndash;&gt;-->
        <!--&lt;!&ndash;                    <li>&ndash;&gt;-->
        <!--&lt;!&ndash;                        <div class="field">Occupation:</div>&ndash;&gt;-->
        <!--&lt;!&ndash;                        <div class="value">UXUI / Frontend Developer</div>&ndash;&gt;-->
        <!--&lt;!&ndash;                    </li>&ndash;&gt;-->
        <!--&lt;!&ndash;                    <li>&ndash;&gt;-->
        <!--&lt;!&ndash;                        <div class="field">Skills:</div>&ndash;&gt;-->
        <!--&lt;!&ndash;                        <div class="value">C++, PHP, HTML5, CSS, jQuery, MYSQL, Ionic, Laravel, Phonegap, Bootstrap, Angular JS, Angular JS, Asp.net</div>&ndash;&gt;-->
        <!--&lt;!&ndash;                    </li>&ndash;&gt;-->
        <!--&lt;!&ndash;                    <li>&ndash;&gt;-->
        <!--&lt;!&ndash;                        <div class="field">Birth of Date:</div>&ndash;&gt;-->
        <!--&lt;!&ndash;                        <div class="value">1989/11/04</div>&ndash;&gt;-->
        <!--&lt;!&ndash;                    </li>&ndash;&gt;-->
        <!--&lt;!&ndash;                    <li>&ndash;&gt;-->
        <!--&lt;!&ndash;                        <div class="field">Country:</div>&ndash;&gt;-->
        <!--&lt;!&ndash;                        <div class="value">San Francisco</div>&ndash;&gt;-->
        <!--&lt;!&ndash;                    </li>&ndash;&gt;-->
        <!--&lt;!&ndash;                    <li>&ndash;&gt;-->
        <!--&lt;!&ndash;                        <div class="field">Address:</div>&ndash;&gt;-->
        <!--&lt;!&ndash;                        <div class="value">&ndash;&gt;-->
        <!--&lt;!&ndash;                            <address class="m-b-0">&ndash;&gt;-->
        <!--&lt;!&ndash;                                Twitter, Inc.<br />&ndash;&gt;-->
        <!--&lt;!&ndash;                                1355 Market Street, Suite 900<br />&ndash;&gt;-->
        <!--&lt;!&ndash;                                San Francisco, CA 94103&ndash;&gt;-->
        <!--&lt;!&ndash;                            </address>&ndash;&gt;-->
        <!--&lt;!&ndash;                        </div>&ndash;&gt;-->
        <!--&lt;!&ndash;                    </li>&ndash;&gt;-->
        <!--&lt;!&ndash;                    <li>&ndash;&gt;-->
        <!--&lt;!&ndash;                        <div class="field">Phone No.:</div>&ndash;&gt;-->
        <!--&lt;!&ndash;                        <div class="value">&ndash;&gt;-->
        <!--&lt;!&ndash;                            (123) 456-7890&ndash;&gt;-->
        <!--&lt;!&ndash;                        </div>&ndash;&gt;-->
        <!--&lt;!&ndash;                    </li>&ndash;&gt;-->
        <!--&lt;!&ndash;                    <li class="title">FRIEND LIST (9)</li>&ndash;&gt;-->
        <!--&lt;!&ndash;                    <li class="img-list">&ndash;&gt;-->
        <!--&lt;!&ndash;                        <a href="#" class="m-b-5"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" /></a>&ndash;&gt;-->
        <!--&lt;!&ndash;                        <a href="#" class="m-b-5"><img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" /></a>&ndash;&gt;-->
        <!--&lt;!&ndash;                        <a href="#" class="m-b-5"><img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" /></a>&ndash;&gt;-->
        <!--&lt;!&ndash;                        <a href="#" class="m-b-5"><img src="https://bootdey.com/img/Content/avatar/avatar5.png" alt="" /></a>&ndash;&gt;-->
        <!--&lt;!&ndash;                        <a href="#" class="m-b-5"><img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" /></a>&ndash;&gt;-->
        <!--&lt;!&ndash;                        <a href="#" class="m-b-5"><img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" /></a>&ndash;&gt;-->
        <!--&lt;!&ndash;                        <a href="#" class="m-b-5"><img src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="" /></a>&ndash;&gt;-->
        <!--&lt;!&ndash;                        <a href="#" class="m-b-5"><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" /></a>&ndash;&gt;-->
        <!--&lt;!&ndash;                        <a href="#" class="m-b-5"><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" /></a>&ndash;&gt;-->
        <!--&lt;!&ndash;                    </li>&ndash;&gt;-->
        <!--&lt;!&ndash;                </ul>&ndash;&gt;-->
        <!--&lt;!&ndash;            </div>&ndash;&gt;-->
        <!--        </div>-->
        <!--    </div>-->
    </div>
    </div>


    <style type="text/css">
        body {
            background: #eaeaea;
            margin-top: 20px;
        }

        .profile-info-list {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

        .friend-list,
        .img-grid-list {
            margin: -1px;
            list-style-type: none;
        }

        .profile-info-list>li.title {
            font-size: 0.625rem;
            font-weight: 700;
            color: #8a8a8f;
            padding: 0 0 0.3125rem;
        }

        .profile-info-list>li+li.title {
            padding-top: 1.5625rem;
        }

        .profile-info-list>li {
            padding: 0.625rem 0;
        }

        .profile-info-list>li .field {
            font-weight: 700;
        }

        .profile-info-list>li .value {
            color: #666;
        }

        .profile-info-list>li.img-list a {
            display: inline-block;
        }

        .profile-info-list>li.img-list a img {
            max-width: 2.25rem;
            -webkit-border-radius: 2.5rem;
            -moz-border-radius: 2.5rem;
            border-radius: 2.5rem;
        }

        .coming-soon-cover img,
        .email-detail-attachment .email-attachment .document-file img,
        .email-sender-img img,
        .friend-list .friend-img img,
        .profile-header-img img {
            max-width: 100%;
        }

        .table.table-profile th {
            border: none;
            color: #000;
            padding-bottom: 0.3125rem;
            padding-top: 0;
        }

        .table.table-profile td {
            border-color: #c8c7cc;
        }

        .table.table-profile tbody+thead>tr>th {
            padding-top: 1.5625rem;
        }

        .table.table-profile .field {
            color: #666;
            font-weight: 600;
            width: 25%;
            text-align: right;
        }

        .table.table-profile .value {
            font-weight: 500;
        }

        .profile-header {
            position: relative;
            overflow: hidden;
        }

        .profile-header .profile-header-cover {
            background: url(https://bootdey.com/img/Content/bg1.jpg) center no-repeat;
            background-size: 100% auto;
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }

        .profile-header .profile-header-cover:before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 0, rgba(0, 0, 0, 0.85) 100%);
        }

        .profile-header .profile-header-content,
        .profile-header .profile-header-tab,
        .profile-header-img,
        body .fc-icon {
            position: relative;
        }

        .profile-header .profile-header-tab {
            background: #fff;
            list-style-type: none;
            margin: -1.25rem 0 0;
            padding: 0 0 0 8.75rem;
            border-bottom: 1px solid #c8c7cc;
            white-space: nowrap;
        }

        .profile-header .profile-header-tab>li {
            display: inline-block;
            margin: 0;
        }

        .profile-header .profile-header-tab>li>a {
            display: block;
            color: #000;
            line-height: 1.25rem;
            padding: 0.625rem 1.25rem;
            text-decoration: none;
            font-weight: 700;
            font-size: 0.75rem;
            border: none;
        }

        .profile-header .profile-header-tab>li.active>a,
        .profile-header .profile-header-tab>li>a.active {
            color: #007aff;
        }

        .profile-header .profile-header-content:after,
        .profile-header .profile-header-content:before {
            content: "";
            display: table;
            clear: both;
        }

        .profile-header .profile-header-content {
            color: #fff;
            padding: 1.25rem;
        }

        body .fc th a,
        body .fc-ltr .fc-basic-view .fc-day-top .fc-day-number,
        body .fc-widget-header a {
            color: #000;
        }

        .profile-header-img {
            float: left;
            width: 7.5rem;
            height: 7.5rem;
            overflow: hidden;
            z-index: 10;
            margin: 0 1.25rem -1.25rem 0;
            padding: 0.1875rem;
            -webkit-border-radius: 0.25rem;
            -moz-border-radius: 0.25rem;
            border-radius: 0.25rem;
            background: #fff;
        }

        .profile-header-info h4 {
            font-weight: 500;
            margin-bottom: 0.3125rem;
        }

        .profile-container {
            padding: 1.5625rem;
        }

        @media (max-width: 967px) {
            .profile-header-img {
                width: 5.625rem;
                height: 5.625rem;
                margin: 0;
            }

            .profile-header-info {
                margin-left: 6.5625rem;
                padding-bottom: 0.9375rem;
            }

            .profile-header .profile-header-tab {
                padding-left: 0;
            }
        }

        @media (max-width: 767px) {
            .profile-header .profile-header-cover {
                background-position: top;
            }

            .profile-header-img {
                width: 3.75rem;
                height: 3.75rem;
                margin: 0;
            }

            .profile-header-info {
                margin-left: 4.6875rem;
                padding-bottom: 0.9375rem;
            }

            .profile-header-info h4 {
                margin: 0 0 0.3125rem;
            }

            .profile-header .profile-header-tab {
                white-space: nowrap;
                overflow: scroll;
                padding: 0;
            }

            .profile-container {
                padding: 0.9375rem 0.9375rem 3.6875rem;
            }

            .friend-list>li {
                float: none;
                width: auto;
            }
        }

        .profile-info-list {
            padding: 0;
            margin: 0;
            list-style-type: none;
        }

        .friend-list,
        .img-grid-list {
            margin: -1px;
            list-style-type: none;
        }

        .profile-info-list>li.title {
            font-size: 0.625rem;
            font-weight: 700;
            color: #8a8a8f;
            padding: 0 0 0.3125rem;
        }

        .profile-info-list>li+li.title {
            padding-top: 1.5625rem;
        }

        .profile-info-list>li {
            padding: 0.625rem 0;
        }

        .profile-info-list>li .field {
            font-weight: 700;
        }

        .profile-info-list>li .value {
            color: #666;
        }

        .profile-info-list>li.img-list a {
            display: inline-block;
        }

        .profile-info-list>li.img-list a img {
            max-width: 2.25rem;
            -webkit-border-radius: 2.5rem;
            -moz-border-radius: 2.5rem;
            border-radius: 2.5rem;
        }

        .coming-soon-cover img,
        .email-detail-attachment .email-attachment .document-file img,
        .email-sender-img img,
        .friend-list .friend-img img,
        .profile-header-img img {
            max-width: 100%;
        }

        .table.table-profile th {
            border: none;
            color: #000;
            padding-bottom: 0.3125rem;
            padding-top: 0;
        }

        .table.table-profile td {
            border-color: #c8c7cc;
        }

        .table.table-profile tbody+thead>tr>th {
            padding-top: 1.5625rem;
        }

        .table.table-profile .field {
            color: #666;
            font-weight: 600;
            width: 25%;
            text-align: right;
        }

        .table.table-profile .value {
            font-weight: 500;
        }

        .friend-list {
            padding: 0;
        }

        .friend-list>li {
            float: left;
            width: 50%;
        }

        .friend-list>li>a {
            display: block;
            text-decoration: none;
            color: #000;
            padding: 0.625rem;
            margin: 1px;
            background: #fff;
        }

        .friend-list>li>a:after,
        .friend-list>li>a:before {
            content: "";
            display: table;
            clear: both;
        }

        .friend-list .friend-img {
            float: left;
            width: 3rem;
            height: 3rem;
            overflow: hidden;
            background: #efeff4;
        }

        .friend-list .friend-info {
            margin-left: 3.625rem;
        }

        .friend-list .friend-info h4 {
            margin: 0.3125rem 0;
            font-size: 0.875rem;
            font-weight: 600;
        }

        .friend-list .friend-info p {
            color: #666;
            margin: 0;
        }

        profile-content {
            padding: 25px;
            border-radius: 4px
        }

        .profile-content:after,
        .profile-content:before {
            content: '';
            display: table;
            clear: both
        }

        .profile-content .tab-content,
        .profile-content .tab-pane {
            background: 0 0
        }

        .profile-left {
            width: 200px;
            float: left
        }

        .profile-right {
            margin-left: 240px;
            padding-right: 20px
        }

        .profile-image {
            height: 175px;
            line-height: 175px;
            text-align: center;
            font-size: 72px;
            margin-bottom: 10px;
            border: 2px solid #E2E7EB;
            overflow: hidden;
            border-radius: 4px
        }

        .profile-image img {
            display: block;
            max-width: 100%
        }

        .profile-highlight {
            padding: 12px 15px;
            background: #FEFDE1;
            border-radius: 4px
        }

        .profile-highlight h4 {
            margin: 0 0 7px;
            font-size: 12px;
            font-weight: 700
        }

        .table.table-profile>thead>tr>th {
            border-bottom: none !important
        }

        .table.table-profile>thead>tr>th h4 {
            font-size: 20px;
            margin-top: 0
        }

        .table.table-profile>thead>tr>th h4 small {
            display: block;
            font-size: 12px;
            font-weight: 400;
            margin-top: 5px
        }

        .table.table-profile>tbody>tr>td,
        .table.table-profile>thead>tr>th {
            border: none;
            padding-top: 7px;
            padding-bottom: 7px;
            color: #242a30;
            background: 0 0
        }

        .table.table-profile>tbody>tr>td.field {
            width: 20%;
            text-align: right;
            font-weight: 600;
            color: #2d353c
        }

        .table.table-profile>tbody>tr.highlight>td {
            border-top: 1px solid #b9c3ca;
            border-bottom: 1px solid #b9c3ca
        }

        .table.table-profile>tbody>tr.divider>td {
            padding: 0 !important;
            height: 10px
        }

        .profile-section+.profile-section {
            margin-top: 20px;
            padding-top: 20px;
            border-top: 1px solid #b9c3ca
        }

        .profile-section:after,
        .profile-section:before {
            content: '';
            display: table;
            clear: both
        }

        .profile-section .title {
            font-size: 20px;
            margin: 0 0 15px
        }

        .profile-section .title small {
            font-weight: 400
        }

        body.flat-black {
            background: #E7E7E7
        }

        .flat-black .navbar.navbar-inverse {
            background: #212121
        }

        .flat-black .navbar.navbar-inverse .navbar-form .form-control {
            background: #4a4a4a;
            border-color: #4a4a4a
        }

        .flat-black .sidebar,
        .flat-black .sidebar-bg {
            background: #3A3A3A
        }

        .flat-black .page-with-light-sidebar .sidebar,
        .flat-black .page-with-light-sidebar .sidebar-bg {
            background: #fff
        }

        .flat-black .sidebar .nav>li>a {
            color: #b2b2b2
        }

        .flat-black .sidebar.sidebar-grid .nav>li>a {
            border-bottom: 1px solid #474747;
            border-top: 1px solid #474747
        }

        .flat-black .sidebar .active .sub-menu>li.active>a,
        .flat-black .sidebar .nav>li.active>a,
        .flat-black .sidebar .nav>li>a:focus,
        .flat-black .sidebar .nav>li>a:hover,
        .flat-black .sidebar .sub-menu>li>a:focus,
        .flat-black .sidebar .sub-menu>li>a:hover,
        .sidebar .nav>li.nav-profile>a {
            color: #fff
        }

        .flat-black .sidebar .sub-menu>li>a,
        .flat-black .sidebar .sub-menu>li>a:before {
            color: #999
        }

        .flat-black .page-with-light-sidebar .sidebar .active .sub-menu>li.active>a,
        .flat-black .page-with-light-sidebar .sidebar .active .sub-menu>li.active>a:focus,
        .flat-black .page-with-light-sidebar .sidebar .active .sub-menu>li.active>a:hover,
        .flat-black .page-with-light-sidebar .sidebar .nav>li.active>a,
        .flat-black .page-with-light-sidebar .sidebar .nav>li.active>a:focus,
        .flat-black .page-with-light-sidebar .sidebar .nav>li.active>a:hover {
            color: #000
        }

        .flat-black .page-sidebar-minified .sidebar .nav>li.has-sub:focus>a,
        .flat-black .page-sidebar-minified .sidebar .nav>li.has-sub:hover>a {
            background: #323232
        }

        .flat-black .page-sidebar-minified .sidebar .nav li.has-sub>.sub-menu,
        .flat-black .sidebar .nav>li.active>a,
        .flat-black .sidebar .nav>li.active>a:focus,
        .flat-black .sidebar .nav>li.active>a:hover,
        .flat-black .sidebar .nav>li.nav-profile,
        .flat-black .sidebar .sub-menu>li.has-sub>a:before,
        .flat-black .sidebar .sub-menu>li:before,
        .flat-black .sidebar .sub-menu>li>a:after {
            background: #2A2A2A
        }

        .flat-black .page-sidebar-minified .sidebar .sub-menu>li:before,
        .flat-black .page-sidebar-minified .sidebar .sub-menu>li>a:after {
            background: #3e3e3e
        }

        .flat-black .sidebar .nav>li.nav-profile .cover.with-shadow:before {
            background: rgba(42, 42, 42, .75)
        }

        .bg-white {
            background-color: #fff !important;
        }

        .p-10 {
            padding: 10px !important;
        }

        .media.media-xs .media-object {
            width: 32px;
        }

        .m-b-2 {
            margin-bottom: 2px !important;
        }

        .media>.media-left,
        .media>.pull-left {
            padding-right: 15px;
        }

        .media-body,
        .media-left,
        .media-right {
            display: table-cell;
            vertical-align: top;
        }

        select.form-control:not([size]):not([multiple]) {
            height: 34px;
        }

        .form-control.input-inline {
            display: inline;
            width: auto;
            padding: 0 7px;
        }


        .timeline {
            list-style-type: none;
            margin: 0;
            padding: 0;
            position: relative
        }

        .timeline:before {
            content: '';
            position: absolute;
            top: 5px;
            bottom: 5px;
            width: 5px;
            background: #2d353c;
            left: 20%;
            margin-left: -2.5px
        }

        .timeline>li {
            position: relative;
            min-height: 50px;
            padding: 20px 0
        }

        .timeline .timeline-time {
            position: absolute;
            left: 0;
            width: 18%;
            text-align: right;
            top: 30px
        }

        .timeline .timeline-time .date,
        .timeline .timeline-time .time {
            display: block;
            font-weight: 600
        }

        .timeline .timeline-time .date {
            line-height: 16px;
            font-size: 12px
        }

        .timeline .timeline-time .time {
            line-height: 24px;
            font-size: 20px;
            color: #242a30
        }

        .timeline .timeline-icon {
            left: 15%;
            position: absolute;
            width: 10%;
            text-align: center;
            top: 40px
        }

        .timeline .timeline-icon a {
            text-decoration: none;
            width: 20px;
            height: 20px;
            display: inline-block;
            border-radius: 20px;
            background: #d9e0e7;
            line-height: 10px;
            color: #fff;
            font-size: 14px;
            border: 5px solid #2d353c;
            transition: border-color .2s linear
        }

        .timeline .timeline-body {
            margin-left: 23%;
            margin-right: 17%;
            background: #fff;
            position: relative;
            padding: 20px 25px;
            border-radius: 6px
        }

        .timeline .timeline-body:before {
            content: '';
            display: block;
            position: absolute;
            border: 10px solid transparent;
            border-right-color: #fff;
            left: -20px;
            top: 20px
        }

        .timeline .timeline-body>div+div {
            margin-top: 15px
        }

        .timeline .timeline-body>div+div:last-child {
            margin-bottom: -20px;
            padding-bottom: 20px;
            border-radius: 0 0 6px 6px
        }

        .timeline-header {
            padding-bottom: 10px;
            border-bottom: 1px solid #e2e7eb;
            line-height: 30px
        }

        .timeline-header .userimage {
            float: left;
            width: 34px;
            height: 34px;
            border-radius: 40px;
            overflow: hidden;
            margin: -2px 10px -2px 0
        }

        .timeline-header .username {
            font-size: 16px;
            font-weight: 600
        }

        .timeline-header .username,
        .timeline-header .username a {
            color: #2d353c
        }

        .timeline img {
            max-width: 100%;
            display: block
        }

        .timeline-content {
            letter-spacing: .25px;
            line-height: 18px;
            font-size: 13px
        }

        .timeline-content:after,
        .timeline-content:before {
            content: '';
            display: table;
            clear: both
        }

        .timeline-title {
            margin-top: 0
        }

        .timeline-footer {
            background: #fff;
            border-top: 1px solid #e2e7ec;
            padding-top: 15px
        }

        .timeline-footer a:not(.btn) {
            color: #575d63
        }

        .timeline-footer a:not(.btn):focus,
        .timeline-footer a:not(.btn):hover {
            color: #2d353c
        }

        .timeline-likes {
            color: #6d767f;
            font-weight: 600;
            font-size: 12px
        }

        .timeline-likes .stats-right {
            float: right
        }

        .timeline-likes .stats-total {
            display: inline-block;
            line-height: 20px
        }

        .timeline-likes .stats-icon {
            float: left;
            margin-right: 5px;
            font-size: 9px
        }

        .timeline-likes .stats-icon+.stats-icon {
            margin-left: -2px
        }

        .timeline-likes .stats-text {
            line-height: 20px
        }

        .timeline-likes .stats-text+.stats-text {
            margin-left: 15px
        }

        .timeline-comment-box {
            background: #f2f3f4;
            margin-left: -25px;
            margin-right: -25px;
            padding: 20px 25px
        }

        .timeline-comment-box .user {
            float: left;
            width: 34px;
            height: 34px;
            overflow: hidden;
            border-radius: 30px
        }

        .timeline-comment-box .user img {
            max-width: 100%;
            max-height: 100%
        }

        .timeline-comment-box .user+.input {
            margin-left: 44px
        }

        .lead {
            margin-bottom: 20px;
            font-size: 21px;
            font-weight: 300;
            line-height: 1.4;
        }

        .text-danger,
        .text-red {
            color: #ff5b57 !important;
        }

        .people-nearby .google-maps {
            background: #f8f8f8;
            border-radius: 4px;
            border: 1px solid #f1f2f2;
            padding: 20px;
            margin-bottom: 20px;
        }

        .people-nearby .google-maps .map {
            height: 300px;
            width: 100%;
            border: none;
        }

        .people-nearby .nearby-user {
            padding: 20px 0;
            border-top: 1px solid #f1f2f2;
            border-bottom: 1px solid #f1f2f2;
            margin-bottom: 20px;
        }

        img.profile-photo-lg {
            height: 80px;
            width: 80px;
            border-radius: 50%;
        }

        .people-nearby .google-maps {
            background: #f8f8f8;
            border-radius: 4px;
            border: 1px solid #f1f2f2;
            padding: 20px;
            margin-bottom: 20px;
        }

        .people-nearby .google-maps .map {
            height: 300px;
            width: 100%;
            border: none;
        }

        .people-nearby .nearby-user {
            padding: 20px 0;
            border-top: 1px solid #f1f2f2;
            border-bottom: 1px solid #f1f2f2;
            margin-bottom: 20px;
        }

        img.profile-photo-lg {
            height: 40px;
            width: 40px;
            border-radius: 50%;
        }
    </style>

    <script type="text/javascript">

    </script>
</body>

</html>